*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav banar here */
.nav-banar{
  background-image: url(/images/banner/banner1.png);
  width: 100%;
  height: 100vh;
}

/* nav-manu here */
.nav-manu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F79D00;
  align-items: center;
}
.manu-item ul{
  display: flex;
  list-style: none;
}
.manu-item ul li{
  padding: 20px;
  cursor: pointer;
  
}