*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav banar here */
.nav-banar{
  background-image: url(./images/banner/banner3.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav-manu here */
.nav-manu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F0F0F0;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0;
  Z-index: 1;
}
.manu-item ul{
  display: flex;
  list-style: none;
}
.manu-item ul li{
  padding: 5px;
  cursor: pointer;
  
}
li img{
  width:40px;
  border-radius: 50px;
  margin-left: 70px;
  transition: all 0.5s;
}
.s-1,.s-2,.s-3,.s-4{
  margin-left: 110px;
  position: absolute;
  font-size: 15px;
  padding: 3px;
  background: #F0F0F0;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px;
visibility: hidden;
z-index: 1;
transition: all 0.9s;
}
li img:hover{
  filter: drop-shadow(0 0 0.75rem crimson);
  width: 41px;
 
  
}
li:hover .s-1{
  visibility: visible;
}
li:hover .s-2{
  visibility: visible;
}
li:hover .s-3{
  visibility: visible;
}
li:hover .s-4{
  visibility: visible;
}


/* search input */
.search{
margin-top: -5px;
 
}

#search{
  width: 300px;
  padding: 5px;
  border-radius: 8px;
  border:none;
  outline:none;
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,108,135,1) 0%, rgba(6,75,164,1) 0%, rgba(9,7,142,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%, rgba(5,109,187,1) 91%);
color: white;
font-size: 17px;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);

}
.sea{
  width: 25px;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;

}
/*  section butoon here */
.bt{
  margin-right: 30px;
}
.btn-primary{
  margin: 20px;
  width: 80px;
  padding: 6px;
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,190,241,1) 0%, rgba(6,75,164,1) 0%, rgba(9,7,142,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%, rgba(55,181,238,1) 55%, rgba(5,109,187,1) 91%);
color: white;
border-radius: 8px;
border: none;
cursor: pointer;
font-size: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.header-cotent{
  position: absolute;
  top: 230px;
  left: 850px;
  width: 530px;
  
}
.p-title{
color:#F0F0F0;
margin-top: 30px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}
.h-title{
  text-transform:uppercase;
  color:white;
  font-size: 50px;
  border-bottom: 1px solid #444343;

}
/* span color */
.difarent{
  color: coral;
}
/* contact button */
.btn-secondry{
text-align: center;
margin-top: 40px;
width: 525px;
padding: 10px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,190,241,1) 0%, rgba(6,75,164,1) 0%, rgba(9,7,142,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%, rgba(55,181,238,1) 55%, rgba(5,109,187,1) 91%);
color: white;
border-radius: 8px;
border: none;
cursor: pointer;
font-size: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* step style */
.step{
  display: flex;
  align-items:center;
 gap:150px;
  background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(28,190,241,1) 0%, rgba(6,75,164,1) 0%, rgba(9,7,142,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%, rgba(5,109,187,1) 0%, rgba(55,181,238,1) 70%);;

}
.person-img{
  width: 569px;
height: 723.3px;
margin-left: 150px;
margin-top: 100px;
background-image:#F15B22 ;
border-radius:100%;
}

.step-artical{
width: 416px;
height: 400px;
margin-top: 200px;
}
.step-artical p{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: whitesmoke;
margin: 10px 0px;
text-align:left;

}
.step-artical h1{
  text-transform: uppercase;
  border-bottom: 1px solid orangered;
  font-size: 50px;
  color: #F0F0F0;
}
.step-artical ul{
width: 349px;
height: 162px;
list-style-type:none;
line-height: 30px;
margin-left: 20px;

}
.step-artical ul li{
  color: #eee0db;
}
.ok{
  width:30px;
  position: absolute;
  margin-left:-30px;
  margin-top: 0px;
  cursor: pointer;
  
  
}
/* MY plan section */
.my-plan{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 50px;
  color: #F15B22;
}
.plan{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 60px;
  margin-top:-10px;
height: 299.96px;
margin-bottom: 100px;


}
.plan-section{
  text-align: center;
  width: 300px;
  height: 200px;
 background-color: #F0F0F0;
border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plan-section img{
  width: 70px;
  margin-bottom:3px;
  margin-left: 1px;
  padding: 10px;
}
.plan-section img:hover{
  filter: drop-shadow(0 0 0.50rem rgba(218, 8, 8, 0.953));
  cursor: pointer;
}

.plan-section p{
  text-align: center;
  font-weight: 500;
font-size: 14px;
line-height: 29px;
text-align: center;
color: #737272;

}
.plan-section h1{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #151414;

}
/* Rectangle style */
.rect-img{
  
 background: linear-gradient(90deg, #F15B22 -30.75%, rgba(241, 91, 34, 0) 69.25%),
    url(../images/watch.png);
border-radius: 8px;
width: 1000px;
height: 300px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;

}
.btn-call img{
  width: 20px;
  margin-left:-30px;
  position: absolute;
  margin-top: -1.5px;

}
.rect-artical{
  padding: 60px ; 
  width: 460px;
  height: 182px;
}
.rect-artical h1{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: white;
margin-bottom: 40px;
}
.btn-call{
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  color:#F15B22;
  transition:all 0.6s;
 
}
.btn-call:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;

}
.footer{
  width: 1600px;
height: 577px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,190,241,1) 0%, rgba(6,75,164,1) 0%, rgba(9,7,142,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%, rgba(5,109,187,1) 0%, rgba(55,181,238,1) 70%);
display: flex;
align-items: center;
justify-content:space-between;
}
.footer-right{
width: 485px;
height: 317px;
margin-left: 230px;
color: white;
}
.footer-right h1{
  font-size:80px;
  border-bottom: 1px solid white;
}
.footer-right p{
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 23px;
}
.footer-left{
width: 325px;
height: 400px;
margin-right: 250px;
background-color: #F0F0F0;
border-radius: 10px;
border: none;
}
.footer-left h1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #F15B22;
  border-radius: 5px;
  color: #F0F0F0;
  font-size: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
}
#email{
  margin-left: 40px;
  width: 250px;
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
}
.btn-submit{
  margin-left: 40px;
  width: 250px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #F15B22;
  color: #F0F0F0;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
}
.social-icon{
  display: flex;
  list-style-type: none;
  margin-left: -80px;
  cursor: pointer;
  margin-top: 20px;
}



